#main-home.header-top.item.a{
    color:#000000;
}
#main-home.header-top.item.a.hover{
    color:#FF004D;
}
#main-home.navbar.nav-item{
    padding: 015px;
}
#main-home.navbar.nav-item.nav-link{
    color: #000000
}
#main-home.navbar.nav-item.nav-link.hover{
    color: #FF004D;
}
#main-home.navbar.cat-icon{
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
#main-home#banner-slide.Owl-Corousel.owl-nav button{
    position: absolute;
    top: 30%;
    outline: none;
}
#main-home#banner-slide.Owl-Corousel.owl-nav button.owl-prev{
    left: 0%;
}
#main-home#banner-slide.Owl-Corousel.owl-nav button.owl.next{
    right: 0%;
}
#main-home#banner-slide.Owl-Corousel.owl-nav button-span{
    font-size: 55px;
    padding:0 1rem;
    color: #FF004D;

}
#main-home#banner-slide.Owl-Corousel.owl-nav button.owl-prev span{
    margin-left: 5rem;
}
#main-home#banner-slide.Owl-Corousel.owl-nav button.owl.next span{
    margin-right: 5rem;
}

#main-home#banner-slide.Owl-Corousel.owl-dots{
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
}
#main-home#banner-slide.Owl-Corousel.owl-dots button span{
    background-color: #c8c8c8;
    padding: 6px;

/*responsive style*/
@media only screen and(max-width:580px){
    #main-home.header-top{
        flex-direction: column;
    }
} 
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  
  .carousel-caption h3 {
    color: #fff !important;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  #main-home#banner-slide{
      width: 60%;
      margin: auto;
  }

  #main-home#banner-slide.Owl-Corousel.owl-nav button{
      display: none;
  }

  #main-home#banner-slide.Owl-Corousel.owl-dots{
      bottom: 2rem;
  }
.bg-pink{
    background-color: #FF004D;
}
.color-pink{
    color: #FF004D;
}
.btn-theme{
    background-color: #FF004D;
    padding: 5px 20px;
    color: #ffffff;
}
.btn-theme.hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(255,0,70,0.50);0px 0px 0px 7px rgba(255,0,70,0.3);
}
.cart-icon{
    background-color: #FF004D;
    padding: 5px 20px;
    color: #ffffff;
}
#container{
    float: right;

}

.html,
body{
    font-family: 'Poppins', sans-serif;
}
#main-home{
    width: 100%;
    min-height: 650px;
    background: url();
    background-size: 100% 100%;
}

