.bg-pink{
    background-color: #FF004D;
}
.color-pink{
    color: #FF004D;
}
.btn-theme{
    background-color: #FF004D;
    padding: 5px 20px;
    color: #ffffff;
}
.btn-theme.hover{
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(255,0,70,0.50);0px 0px 0px 7px rgba(255,0,70,0.3);
}
.cart-icon{
    background-color: #FF004D;
    padding: 5px 20px;
    color: #ffffff;
}
#container{
    float: right;

}

.html,
body{
    font-family: 'Poppins', sans-serif;
}
#main-home.header-top.item.a{
    color:#000000;
}
#main-home.header-top.item.a.hover{
    color:#FF004D;
}
#main-home.navbar.nav-item{
    padding: 015px;
}
#main-home.navbar.nav-item.nav-link{
    color: #000000
}
#main-home.navbar.nav-item.nav-link.hover{
    color: #FF004D;
}
#main-home.navbar.cat-icon{
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
#main-home#banner-slide.Owl-Corousel.owl-nav button{
    position: absolute;
    top: 30%;
    outline: none;
}
/*responsive style*/
@media only screen and(max-width:580px){
    #main-home.header-top{
        flex-direction: column;
    }
} 